<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Scholar H-Index App</title>
</head>
<body>
    <div class="container">
        <h1>Scholar H-Index App</h1>
        <form action="/" method="post">
            <label for="scholarName">Enter Scholar's Name:</label>
            <input type="text" id="scholarName" name="scholarName" placeholder="E.g., John Doe">
            <button type="submit">Get H-Index</button>
        </form>
        <div id="result">
            {% if h_index %}
                <h2>Results:</h2>
                <ul>
                    {% for result in h_index %}
                        <li>{{ result }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No results found.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>